/target
/rocal_macro_usage

/rocal_core/Cargo.lock
/rocal_macro/Cargo.lock

/rocal_core/target
/rocal_macro/target
/examples/hello_world/target
/examples/self_checkout/target

/rocal/target

/rocal/.git
/rocal_core/.git
/rocal_macro/.git
/rocal_ui/.git
/rocal_dev_server/.git
/examples/hello_world/.git
/examples/self_checkout/.git

/rocal/.gitignore
/rocal_core/.gitignore
/rocal_macro/.gitignore
/rocal_ui/.gitignore
/rocal_dev_server/.gitignore
/examples/hello_world/.gitignore
/examples/self_checkout/.gitignore

.env
.env.debug