/target
/rocal_macro_usage

/rocal_core/Cargo.lock
/rocal_macro/Cargo.lock

/rocal_core/target
/rocal_macro/target
/examples/hello_world/target

/rocal/target
/rocal_core/target
/rocal_macro/target
/examples/hello_world/target

/rocal/.git
/rocal_core/.git
/rocal_macro/.git

/rocal/.gitignore
/rocal_core/.gitignore
/rocal_macro/.gitignore
/examples/hello_world/.gitignore

.env
.env.debug